$color-white: white;

$color-purple: #976895;

$color-grey: #777;
$color-light-grey: #ccc;
$color-light-grey-2: #ddd;
$color-dark-grey: #333;

$color-turquoise: #318aa3;
$color-blue: #0075ff;
$color-light-blue: #f1f8fb;
$color-dark-blue-1: #304ffe;
$color-dark-blue-2: #0026ca;

$color-light-purple: #7a7cff;

$color-red: #c20000;
