@import './colors.scss';
@import './z-indexes.scss';
@import './mixins.scss';
@import './deps.scss';

// Breakpoints
$break_xs: 320px;
$break_sm: 576px;
$break_md: 768px;
$break_lg: 992px;
$break_xl: 1200px;
