@import '../../styles/variables.scss';

.page_content {
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba($color-dark-grey, 0.2);
    height: calc(100vh - 40px);
}